.searchBar {
  flex: 0 0 30%;
  display: flex;
  align-items: center;
  justify-content: center;

  &Input {
    color: #555;
    font-family: inherit;
    font-size: inherit;
    padding: .6rem 2rem;
    margin-right: -2.5rem;
    border-width: 0px;
    border-radius: 100px;
    background-color: #eee;
    width: 80%;
    transition: all 0.3s;

    &:focus {
      outline: none;
      width: 100%;
    }

    &::-webkit-input-placeholder {
      color: #aaa;
    }
  }

  &Button {
    outline: none;
    height: 2rem;
    width: 2rem;
    border-width: 0px;
    cursor: pointer;
    position: relative;
    // background-color: red;
  }

  &Icon {
    // outline: none;
    // padding: .2rem;
    // fill: #ddd;
    bottom: 10%;
    right: 30%;
    position: absolute;
    align-self: center;
    height: 1.5rem;
    fill: #555;
    width: 1.5rem;
    // border-radius: 1000px ;
    // border   -width: 0;
  }
}

.userNav {
//   flex: 0 0 15%;

  &Username{
    text-transform: capitalize;
    padding: 1rem;
    color: #111;
    font-size: 1.8rem;
    font-weight: 400 ;
    font-family: "Lato", sans-serif;
  }

  display: flex;
  justify-content: space-between;
  background-color: rgb(248, 248, 248);
  align-items: center;

    &>*{
        padding: 1rem;
        // background-color: #eee;
    }

  &Bookmark {
    
    &Button {
      border-width: 0px;
      background-color: rgb(248, 248, 248);
      border-radius: 100px;
      margin: 0rem 2rem;
      padding: 1rem;
      cursor: pointer;
      display: flex;
      position: relative;
      transition: all .3s;
      padding: 1rem;

      &:hover {
        background-color: #aaa;
      }

    }
    &Icon {
      height: 2.5rem;
      width: 100%;
    //   padding: 1rem;
      fill: #333    ;
      background-color: transparent;
    //   transition: all .3s;
    //   &:hover{
    //     background-color: #aaa;
    //   }
      &Notification{
        position: absolute;
        // top: 1rem;
        color: #fff;
        right: .1rem;
        display: flex;
        justify-content: center;
        // align-self: flex-start;
        margin-top: -.5rem;
        // margin-right: -.5rem;
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
        background-color:  #b3541e;//#cd7745
        padding: .5rem .8rem;
        border-radius: 100px;
      }

    }
  }
  &Profile {

    &Button {
      border-width: 0px;
      display: flex;
      align-items: center;
      border-radius: 1000px;
      margin: 0 2rem;
      padding: .5rem;
      background-color: rgb(248, 248, 248);
      cursor: pointer;
      transition: all .3s;
    //   &>*{
    //     padding: .5rem;
    //   }
    &:hover{
        background-color: #aaa;
    }
    }
    &Icon {
      border-radius: 1000px;
      background-color: rgb(248, 248, 248);
      height: 4rem;
      width: 4rem;
      
    }
  }
}

.navItems{

  &Icon{
    fill: #eee;
    // height: 2rem;
    height: 2rem;
    // padding: 1rem 2rem;
    transition: all .4s .4s;
  }

  &List{
    list-style: none;
    display: flex;
    flex-direction: column;
    
    color: #eee;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: .05rem;
    text-transform: uppercase;

    &:first-child{
      border-top: 1px solid #333;
    }
    &Item{
      
      // flex: 0 ;
      // height: 100%;
      // height: 4rem;
      cursor: pointer;
      padding-bottom: 0rem;
      border-bottom: 1px solid #333;
      // margin: 1rem 0;
      position: relative;
      transition: all .4s .3s;
      
      &Link{
      //   display: flex;
      // align-items: center;
        margin: 2rem ;
        position: relative;
        z-index: 10;

        
      }
      &::before{
        content: "";
        width: 3px;
        background-color: #b3541e;
        height: 100%;
        transform: scaleY(0);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        transition: transform .2s, width .2s ease-in .2s ;
      }

      &:hover::before, &:hover,&Active{
        // content: "";
        // width: 3px;
        // background-color: #b3541e;
        // height: 100%;
        // color: #eee;
        transform: scaleY(1);
        width: 100%;
        // position: absolute;
        // z-index: 3;
      }
      // &Link:hover > .navItemsIcon{
      //   fill: #eee;
      // }

      &Registration{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

    }
    
    &Span{
      padding: 1rem 2rem;
      // padding-bottom: 0;
      // height: 2rem;
    }

  }
}



.eventsList{
  display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(auto-fill, 40rem);
    margin-bottom: 40rem;

  width: 80%;
  // background-color: #eee;
  margin: auto;

  &:last-child{
    margin-bottom: 20rem;
  }

  &Item{
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
    // justify-content: center;
    // align-items: center;
    // height: 20rem;
    border-radius: 6px;
    background-color: transparent;
    // width: 100%;
    box-shadow: -3rem .5rem 3rem rgba(0,0,0,.3) ;
    &Details{
      background-color: #eee;
      border-top-right-radius: 5px;
      border-end-end-radius: 5px;
      // color: white;
      flex: 0 0 80%;

      padding: 3rem;

      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      display: grid;
      grid-template-rows: minmax(1fr,1rem) 4fr;

      &Heading{
        margin-left: 1rem;
        font-size: 3.5rem;
        // justify-self: start;
      }
      &Content{
        // padding: 1rem;
        // justify-self: end;
        list-style: none;
        // justify-self: end;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 4rem 0rem;

        &Span{
          font-size: 2rem;
          align-self: center;
        }

        &Item{
          flex: 0 0 33%;
          display: grid;
          grid-template-columns: 1fr 8fr;

        }

        &Icon{
          // padding: .5rem;
          align-self: center;
          justify-self: center;
          height: 2rem;
        }
      }
      
    }

    &Photo{
      object-fit: cover;
      flex: 0 0 40%;
      width: 100%;
      height: 100%;
      border-top-left-radius: 5px;
      border-end-start-radius: 5px;
    }


    &Goto{
      align-self: center;
      // line-height: 15rem;
      font-size: 10rem;
      font-weight: 100;
      flex: 0 0 20%;
      // color: #111;
    }

  }
}


.eventLink{
  cursor: pointer;
  flex: 0 0 60%;
  display: flex;
  flex-direction: row;
  // color: #111;
}


.button{
  cursor: pointer;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
}

.active{
  // color: #b3541e;
  background-color: #b3541e;

}