.content{
    display: flex;
}

.header{
    padding: 1.5rem 1.5rem;
    // height: 7rem;
    &Logo{
        height: 4rem;
        width: 4rem;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sideBar{
    background-color: #222;
    flex: 0 0 17%;
}

.eventDescription{
    flex: 1;
    background-color: #666;
}